<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset = "utf-8">
    <title>API Project: URL Shortener Microservice  | Free Code Camp Backend Projects</title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
    <header>
      <h1>API Project: URL Shortener Microservice</h1>
    </header>
    <h2>User Stories:</h2>
    <div class="stories">
      <ol>
	<li>
	FILLIN
	</li>
      </ol>
    </div>
    <div class="use">
      <h2>Example Usage:</h2>
      <div id="urls">
	FILLIN
      </div>
      <h2>Example Output:</h2>
        <div id="output">
	  FILLIN
	</div>
    </div>
    </div>
  </body>
</html>
